@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-work-sans: "Work Sans";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Paddings */
  --padding-11xl: 30px;

  /* Border radiuses */
  --br-8xs: 5px;
}
